/* From uiverse.io by @SanketSuryawanshi */
.main_div {
    --color: #3992e6;
    position: relative;
    z-index: 1;
   }

   .main_div::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    top: -7px;
    left: -7px;
    z-index: -5;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    transition: 0.5s;
   }

   .main_div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    bottom: -7px;
    right: -7px;
    z-index: -5;
    border-right: 3px solid var(--color);
    border-bottom: 3px solid var(--color);
    transition: 0.5s;
   }

   .main_div:hover::before {
    width: 100%;
    height: 100%;
   }

   .main_div:hover::after {
    width: 100%;
    height: 100%;
   }

   .main_div button {
    padding: 0.7em 2em;
    font-size: 16px;
    background: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: inherit;
   }


/*************************************************/
.modal{
    height: 100%;
}
.modal-dialog{
    width: 100%;
    height: 70vh;
}
.modal-content{
    width: 100vh;
    height: 70vh;
    top: 20%;
    right: 45%;
    background:linear-gradient(to top, rgb(202, 223, 243) 0%, rgb(69, 114, 172));
    border-radius: 20px;

}
.modal-title{
    margin-left: 35%;
    font-size: 3vh;
    color: whitesmoke;
    text-shadow: black 1px 1px 1px;

}
.modal-body{

    border: transparent 1px solid;
    overflow-x: hidden;
        background-image: url(/assets/img/calm.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 0;



}
.modal-body ul{
  padding-left: 5%;
padding-right: 5%;
}

#promobody{
  background-image:none;
  text-align: center;
  padding: 10%;
  overflow: hidden;
  font-size: 3vh;
  color: #fff;
  font-weight: bold;
  text-shadow: #222222 1px 1px 1px;
  }
  #promocont{
  width: 50vh;
  height: 30vh;
  top: 40%;
  right: -7%;
  }
 #langpop{

align-items: center;

 }
.modal-body ul{
  margin-top: -4%;
  background:linear-gradient(to top, transparent 0%, rgb(57, 107, 173));
  width: 100%;
  padding-top: 3%;
}
.adenf{
  background:linear-gradient(to top, transparent 0%, rgb(57, 107, 173));
  padding-left: 20%;
padding-right: 20%;
}
li{
    list-style: none;
    font-size: 2.5vh;
    color: whitesmoke;
    text-shadow: black 1px 1px 1px;
    margin-top: 4vh;
}
li span{
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-shadow: black 1px 1px 1px;
}
.modal-footer{
    padding-right: 40%;
}
.img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    margin-left: 25%;
}
.img2{
    border-radius: 50%;
    background-image: url(/assets/img/f3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    margin-left: 30%;
}
.img3{
    border-radius: 50%;
    background-image: url(/assets/img/i2.png);
    background-color: rgb(179, 165, 123);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vh;
    height: 20vh;
    margin-left: 30%;
}
.titelh4langue{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 3vh;
}
.titelh4langue span{
    color: #333333;
}
.enfant{
    padding-bottom: 3vh;
}
.langue{
    display: flex;
    justify-content: space-between  ;
}
h5 span{
    color: #333333;
    text-shadow: none;
    font-size: 2.3vh;
    text-align: center;
}
.cta{
    width: 100%;
}
.modal-footer{
 padding-left: 25vh;
 width: 100%;
}

.promotionpop{
  position: fixed;
  border-radius: 20%;
  cursor: pointer;
  height: 7vh;
  width: 7vh;
  bottom: 3%;
  left: 2%;
  background-color: #577288;
  z-index: 1000;
  }
  .promotionpop img{
  height: 5vh;
  margin-top: 0.5vh;
  color: #fff;

  }
  @media(max-width:1250px){
    .modal-content{
      width: 100vh;
      height: 70vh;
      top: 20%;
      right: 40%;

  }
  }
  @media(max-width:1100px){
    .modal-content{
      width: 100vh;
      height: 70vh;
      top: 20%;
      right: 35%;

  }
  }
  @media(max-width:910px){
    .modal-content{
      width: 95%;
      height: 70vh;
      top: 15%;
      left:5%;

  }
  }
  @media(max-width:520px){
    .modal-content{
      width: 95%;
      height: 70vh;
      top: 15%;
      left:0;

  }
  }
