
  
  <div class="modal fade" id="coursoutpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">COURS DE SOUTIEN:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="img"></div>
            <ul>
                 <li><span>professeur : </span> mohamed mohamed</li>
                <li><span>nombre de heures : </span> 2 heures par scènes </li>
                <li> <span>matières : </span>toutes les matières</li>
                <li><span>les jours des scènes : </span> lundi, mardi jeudi et vendredi .</li>
                <li><span>Prix : </span> 200DH</li>
                <li><span>description : </span> cette formation va aidee bla bla bla blabla blabla blabla blabla blabla blabla bla</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre">  <button class="cta"  >
                <span>Voir plus d'offre</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button> </a>
        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////// -->

    
  <div class="modal fade" id="languepopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">COURS DES LANGUES:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="enfant">
            <div class="img"></div>
            <h4 class="titelh4langue">cours pour enfants entre <span>(6ans et 12ans)</span></h4>
            <div class="langue"> 
                <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangfrenf">français</button>
                    
                  </div>
            
                  <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangengenf">anglais</button>
                    
                  </div>
                </div>
            </div>

            <div class="adult">
                <div class="img3"></div>
                <h4 class="titelh4langue">cours pour adult</h4>
            <div class="langue"> 
                <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangfradu">français</button>
                    
                  </div>
            
                  <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangengadu">anglais</button>
                    
                  </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#offre">   <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>Voir plus d'offre</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button> </a>
        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////// -->

    
  <div class="modal fade" id="activitepopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ACTIVITE DE DIVERTISSEMENT:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="img2"></div>
            <ul>
                 <li>centre info ACADEMIE academie offre des activites pour les anfents entre 6ans et 12ans</li>
                <li><span>nombre de heures : </span> 2 heures par scènes </li>
                <li><span>les jours des activites : </span> lundi, mardi jeudi et vendredi .</li>
                <li><span>Prix : </span> 300DH</li>
                <li><span>Les activites : </span> calcul mental .....</li>
                <li><span>description : </span>  bla bla bla blabla blabla blabla blabla blabla blabla bla</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>Voir plus d'offre</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button> </a>
        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="modal fade" id="courlangfrenf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">COURS DE SOUTIEN: <span>francais pour enfant(6ans a 16ans) </span> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="img"></div>
            <ul>
                 <li><span>professeur : </span> mohamed mohamed</li>
                <li><span>nombre de heures : </span> 1 heures par scènes </li>
                <li><span>les jours des scènes : </span> lundi, mardi jeudi et vendredi .</li>
                <li><span>Prix : </span> 300DH</li>
                <li><span>description : </span> cette formation va aidee bla bla bla blabla blabla blabla blabla blabla blabla bla</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close" >
                <span>Voir plus d'offre</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button></a>
        </div>
      </div>
    </div>
  </div>
  <!--/////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="modal fade" id="courlangengenf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">COURS DE SOUTIEN: <span>anglais pour enfant(6ans a 16ans)</span> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="img"></div>
            <ul>
                 <li><span>professeur : </span> mohamed mohamed</li>
                <li><span>nombre de heures : </span> 1 heures par scènes </li>
                <li><span>les jours des scènes : </span> lundi, mardi jeudi et vendredi .</li>
                <li><span>Prix : </span> 300DH</li>
                <li><span>description : </span> cette formation va aidee bla bla bla blabla blabla blabla blabla blabla blabla bla</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>Voir plus d'offre</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button></a>
        </div>
      </div>
    </div>
  </div>

    <!--/////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="modal fade" id="courlangengadu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">COURS DE SOUTIEN: <span>anglais pour adult</span> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="img3"></div>
                <ul>
                     <li><span>professeur : </span> mohamed mohamed</li>
                    <li><span>nombre de heures : </span> 1 heures par scènes </li>
                    <li><span>les jours des scènes : </span> lundi, mardi jeudi et vendredi .</li>
                    <li><span>Prix : </span> 250DH</li>
                    <li><span>description : </span> cette formation va aidee bla bla bla blabla blabla blabla blabla blabla blabla bla</li>
            </ul>
            </div>
            <div class="modal-footer">
                <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                    <span>Voir plus d'offre</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </button></a>
            </div>
          </div>
        </div>
      </div>

      <!--/////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="modal fade" id="courlangfradu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">COURS DE SOUTIEN: <span>francais pour adult</span> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="img3"></div>
                <ul>
                     <li><span>professeur : </span> mohamed mohamed</li>
                    <li><span>nombre de heures : </span> 1 heures par scènes </li>
                    <li><span>les jours des scènes : </span> lundi, mardi jeudi et vendredi .</li>
                    <li><span>Prix : </span> 300DH</li>
                    <li><span>description : </span> cette formation va aidee bla bla bla blabla blabla blabla blabla blabla blabla bla</li>
            </ul>
            </div>
            <div class="modal-footer">
               <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>Voir plus d'offre</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </button></a>
            </div>
          </div>
        </div>
      </div>