

  <div class="modal fade" id="coursoutpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"COURS DE SOUTIEN" | translate}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                 <li><span>{{"prof" | translate}} </span>: {{"profnom" | translate}}</li>
                <li><span>{{"nbrheur" | translate}} </span>: {{"nbrheur2" | translate}} </li>
                <li> <span>{{"matiere" | translate}} </span>:{{"qmatiere" | translate}}</li>
                <li><span>{{"jrs" | translate}} </span>: {{"qjrs" | translate}}</li>
                <li><span>{{"prix" | translate}} </span>: {{"qprix" | translate}}</li>
                <li><span>{{"discription" | translate}} </span>: {{"qdiscription" | translate}}</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre">  <button class="cta"  >
                <span>{{"vpo" | translate}}</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button> </a>
        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////// -->


  <div class="modal fade" id="languepopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"courlh"|translate}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="langpop" class="modal-body">
          <div class="adenf">
            <div class="enfant">
            <div class="img2"></div>
            <h4 class="titelh4langue">{{"cenf" | translate}} <span>({{"ans" | translate}})</span></h4>
            <div class="langue">
                <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangfrenf">{{"fr" | translate}}</button>

                  </div>

                  <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangengenf">{{"eng" | translate}}</button>

                  </div>
                </div>
            </div>

            <div class="adult">
                <div class="img3"></div>
                <h4 class="titelh4langue">{{"cad" | translate}}</h4>
            <div class="langue">
                <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangfradu">{{"fr" | translate}}</button>

                  </div>

                  <div class="main_div">
                    <button data-bs-toggle="modal" data-bs-target="#courlangengadu">{{"eng" | translate}}</button>

                  </div>
                </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
            <a href="#offre">   <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>{{"vpo" | translate}}</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button> </a>
        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////// -->


  <div class="modal fade" id="activitepopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"activh"|translate}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                 <li>{{"d1" | translate}}</li>
                 <li><span>{{"prof" | translate}} </span>: {{"profnom" | translate}}</li>
                 <li><span>{{"nbrheur" | translate}} </span>: {{"nbrheur2" | translate}} </li>
                 <li><span>{{"jrs" | translate}} </span>: {{"qjrs" | translate}}</li>
                 <li><span>{{"prix" | translate}} </span>: {{"qprix" | translate}}</li>
                 <li><span>{{"discription" | translate}} </span>: {{"qdiscription" | translate}}</li>

        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>{{"vpo" | translate}}</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button> </a>
        </div>
      </div>
    </div>
  </div>

  <!--/////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="modal fade" id="courlangfrenf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"COURS DE SOUTIEN" | translate}} <br> <span>{{"frpenf" | translate}} </span> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
              <li><span>{{"prof" | translate}} </span>: {{"profnom" | translate}}</li>
              <li><span>{{"nbrheur" | translate}} </span>: {{"nbrheur2" | translate}} </li>
              <li><span>{{"jrs" | translate}} </span>: {{"qjrs" | translate}}</li>
              <li><span>{{"prix" | translate}} </span>: {{"qprix" | translate}}</li>
              <li><span>{{"discription" | translate}} </span>: {{"qdiscription" | translate}}</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close" >
                <span>{{"vpo" | translate}}</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button></a>
        </div>
      </div>
    </div>
  </div>
  <!--/////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="modal fade" id="courlangengenf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{"COURS DE SOUTIEN" | translate}} <br> <span>{{"engpenf" | translate}}</span> </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
              <li><span>{{"prof" | translate}} </span>: {{"profnom" | translate}}</li>
              <li><span>{{"nbrheur" | translate}} </span>: {{"nbrheur2" | translate}} </li>
              <li><span>{{"jrs" | translate}} </span>: {{"qjrs" | translate}}</li>
              <li><span>{{"prix" | translate}} </span>: {{"qprix" | translate}}</li>
              <li><span>{{"discription" | translate}} </span>: {{"qdiscription" | translate}}</li>
        </ul>
        </div>
        <div class="modal-footer">
            <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>{{"vpo" | translate}}</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button></a>
        </div>
      </div>
    </div>
  </div>

    <!--/////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="modal fade" id="courlangengadu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{"COURS DE SOUTIEN" | translate}} <br><span>{{"engpadu" | translate}}</span> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                  <li><span>{{"prof" | translate}} </span>: {{"profnom" | translate}}</li>
                  <li><span>{{"nbrheur" | translate}} </span>: {{"nbrheur2" | translate}} </li>
                  <li><span>{{"jrs" | translate}} </span>: {{"qjrs" | translate}}</li>
                  <li><span>{{"prix" | translate}} </span>: {{"qprix" | translate}}</li>
                  <li><span>{{"discription" | translate}} </span>: {{"qdiscription" | translate}}</li>
            </ul>
            </div>
            <div class="modal-footer">
                <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                    <span>{{"vpo" | translate}}</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </button></a>
            </div>
          </div>
        </div>
      </div>

      <!--/////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="modal fade" id="courlangfradu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{"COURS DE SOUTIEN" | translate}} <br><span>{{"frpadu" | translate}}</span> </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                  <li><span>{{"prof" | translate}} </span>: {{"profnom" | translate}}</li>
                  <li><span>{{"nbrheur" | translate}} </span>: {{"nbrheur2" | translate}} </li>
                  <li><span>{{"jrs" | translate}} </span>: {{"qjrs" | translate}}</li>
                  <li><span>{{"prix" | translate}} </span>: {{"qprix" | translate}}</li>
                  <li><span>{{"discription" | translate}} </span>: {{"qdiscription" | translate}}</li>
            </ul>
            </div>
            <div class="modal-footer">
               <a href="#offre"> <button class="cta"  data-bs-dismiss="modal" aria-label="Close">
                <span>{{"vpo" | translate}}</span>
                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </button></a>
            </div>
          </div>
        </div>
      </div>

            <!--/////////////////////////////////////////////////////////////////////////////////////// -->


            <button class="promotionpop" data-bs-toggle="modal" title="Promotion" data-bs-target="#promo">
              <img src="/assets/img/promo.svg" alt="">

            </button>
            <div class="modal fade" id="promo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" id="promocont">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">code promo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="promobody">
                         5XRTAZ
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
