.home{
  margin-top: 8vh;
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/img/bienv.jpg);
    background-size: cover;
    background-position-y: center;
    text-align: center;


}
.c{
    height: 100vh;
    background:linear-gradient(to top, rgb(100, 153, 223) 0%, transparent);
    text-align: center;
}
.container{
    padding-top: 40vh;
    color: beige;
    text-align: center;
}
.container h1{
  text-align: center;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase !important;
}
.container h3{
  text-align: center;
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}





/* From uiverse.io */
button {
    padding: 1.3em 3em;
    font-size: 2.5vh;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    background-color: #e0732a;
    box-shadow: 0px 15px 20px rgba(52, 114, 155, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  button:active {
    transform: translateY(-1px);
  }

  a{
    text-decoration: none;
    color: #000;


  }
