<header id="header1" class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" id="logotext">
        <img src="../assets/img/logo.png" class="logo" alt="">
        <span>CENTRE <br> INFO ACADEMIE</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#Services" class="nav-link">Services</a></li>
      <li class="nav-item"><a href="#activity" class="nav-link">ACTIVITE</a></li>
      <li class="nav-item"><a href="#offre" class="nav-link">OFFRE</a></li>
      <li class="nav-item"><a href="#apropos" class="nav-link"> À PROPOS DE NOUS </a></li>
      <li class="nav-item"><a href="#contact" class="nav-link">NOS CONTACTS</a></li>
     
    </ul>
  </header>
  <header id="header2" class="py-3 mb-0 ">
    <a href="/" class="d-flex  text-decoration-none" id="logotext">
      <img src="../assets/img/logo.png" class="logo" alt="">
      <span>CENTRE <br> INFO ACADEMIE</span>
  </a>
    <a for="check" class="bar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <input id="check" type="checkbox">
  
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </a>
  </header>
    
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CENTRE INFO ACADEMIE</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
              <hr>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ACTIVITE</a>
                <hr>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OFFRE</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">À PROPOS DE NOUS</a>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">NOS CONTACTS</a>
              <hr>
            </li>
           
            
        </ul>
        
        </div>
      </div>

