<app-header></app-header>
<div id="home" class="pages">
<app-service></app-service></div>
<div id="Services" class="pages">
  <div class="headplace"></div>
  <app-home></app-home>
</div>
<div id="activity" class="pages">
  <div class="headplace"></div>
  <app-activity></app-activity>
</div>
<div id="offre" class="pages">
  <div class="headplace"></div>
  <app-offre></app-offre>
</div>
<div id="apropos" class="pages">
  <div class="headplace"></div>
  <app-apropos></app-apropos>
</div>
<div id="contact" class="pages">
  <div class="headplace"></div>
  <app-contact></app-contact>
</div>

<app-popup></app-popup>-->

<router-outlet></router-outlet>
