<div class="card">
    <div class="circle3"></div>
    <div class="circle3"></div>
    <div class="cards">
        <div class="card4">
            <div class="card-img"></div>
            <div class="card-info2">
              <p class="text-title">COURS DE SOUTIEN:<br> <span>(6ans a 12 ans)</span></p>
              <div class="text-body2">
                  <ul>
                      <li>2 heures par scènes dans toutes les matières.</li>
                      <li>les jours des scènes : lundi, mardi jeudi et vendredi .</li>
                      <li>Prix : 200DH</li>
                  </ul>
                  
                  <button class="cta" data-bs-toggle="modal" data-bs-target="#coursoutpopup">
                      <span>Voir plus</span>
                      <svg viewBox="0 0 13 10" height="10px" width="15px">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                      </svg>
                    </button>
              </div>
  
            </div>
            </div>
            <div class="card4">
                <div class="card-img"></div>
                  <div class="card-info2">
                    <p class="text-title">COURS DES LANGUES:<br> <span>(Anglais,Français)</span></p>
                    <div class="text-body2">
                        <ul>
                          <li>centre info ACADEMIE academie offre des cours linguistique</li>
                            <li>1 heure par scènes.</li>
                            <li>Prix : entre(199DH et 299DH)</li>
                        </ul>
                        
                        <button class="cta" data-bs-toggle="modal" data-bs-target="#languepopup">
                            <span>Voir plus</span>
                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                              <path d="M1,5 L11,5"></path>
                              <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                          </button>
                    </div>
        
                  </div>
                </div>
                <div class="card4">
                    <div class="card-img"></div>
                    <div class="card-info2">
                      <p class="text-title">Activite de divertissement:<br> <span>(les enfants)</span></p>
                      <div class="text-body2">
                          <ul>
                              <li>centre info ACADEMIE academie offre des activites pour les enfants </li>
                              <li>Prix : 300DH</li>
                          </ul>
                          
                          <button class="cta" data-bs-toggle="modal" data-bs-target="#activitepopup">
                              <span>Voir plus</span>
                              <svg viewBox="0 0 13 10" height="10px" width="15px">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                              </svg>
                            </button>
                      </div>
          
                    </div>
                    </div></div>
</div>
