<div class="card">
  
    <div class="circle2"></div>
    <div class="circle2"></div>
    <div class="circle2"></div>
    <div class="circleimg"></div>
    <div class="box">
        <div class="content">
            <h1 >
              Calcul mental : </h1>
            <br>
            <p >
              Une formation basée sur une série d’activités intellectuelles et d’animations dédiées pour les enfants visant le développement de leurs compétences et capacités intellectuelles telles que l’assimilation sensorielle ( toucher, écoute, vision ), la concentration, la mémorisation, le reflex, l’aptitude à l’expression…            </p>

        </div>
      </div>
  
  </div>
  
