
<section class="pch">
  <figure class="ball1">
  </figure>
  <figure class="ball3">
  </figure  >
  <!--////////////////////////////////////////////////-->
  <div class="slider">
    <input type="radio" class="radio" name="toggle" id="radio1" checked>
    <input type="radio" class="radio" name="toggle" id="radio2">
    <input type="radio" class="radio" name="toggle" id="radio3">
    <input type="radio" class="radio" name="toggle" id="radio4">

    <ul class="slides">
      <li class="slide" >
        <div class="slide-content "  >
          <h2 class="slide-title">{{'COURS DE SOUTIEN' | translate}}</h2>
          <p class="slide-text">{{"cours text" | translate}}</p>
          <button data-bs-toggle="modal" data-bs-target="#coursoutpopup">
           {{"plus" | translate}}
            <div class="arrow-wrapper">
                <div class="arrow"></div>

            </div>
        </button>
        </div>
        <p class="slide-image">
          <img src="assets/img/f1.png" alt="stuff" >
        </p>
      </li>
      <li class="slide" >
        <div class="slide-content">
          <h2 class="slide-title" id="t2">{{"courlh" | translate}}</h2>
          <p class="slide-text">{{"courl text" | translate}}</p>
          <button id="b2" data-bs-toggle="modal" data-bs-target="#languepopup">
            {{"plus" | translate}}
            <div class="arrow-wrapper">
                <div class="arrow"></div>

            </div>
        </button>
        </div>
        <p class="slide-image">
          <img src="assets/img/i2.png" alt="stuff">
        </p>
      </li>
      <li class="slide"  >
        <div class="slide-content">
          <h2 class="slide-title">{{"activh" | translate}}</h2>
          <p class="slide-text">{{"activ text" | translate}}</p>
          <button data-bs-toggle="modal" data-bs-target="#activitepopup">
            {{"plus" | translate}}
            <div class="arrow-wrapper">
                <div class="arrow"></div>

            </div>
        </button>
        </div>
        <p class="slide-image">
          <img src="assets/img/f3.png" alt="stuff" >
        </p>
      </li>
      <li class="slide"  >
        <div class="slide-content">
          <h2 class="slide-title" id="t2">{{"promoh" | translate}}</h2>
          <p class="slide-text">{{"promotext" | translate}}</p>
          <button id="b2" data-bs-toggle="modal" data-bs-target="#promo">
            {{"bvp" | translate}}
            <div class="arrow-wrapper">
                <div class="arrow"></div>

            </div>
        </button>
        </div>
        <p class="slide-image">
          <img src="assets/img/promo.png" alt="stuff" >
        </p>
      </li>

    </ul>


    <div class="slider-controls">
      <label for="radio1"></label>
      <label for="radio2"></label>
      <label for="radio3"></label>
      <label for="radio4"></label>
    </div>
  </div>
  <!--////////////////////////////////////////////////-->



</section>


