<div class="card" id="offrep" >
  <h1 class="titles" (appear)="addAnimationClass()">{{'À PROPOS DE NOUS' | translate}}</h1>
  <div class="boxes">
    <div class="box3 " id="box3">












      <div class="content" >
        <div id="p1" [ngClass]="{'p1': isCardVisible}">
        <h1 >
          {{"about1"|translate}}</h1>
        <br>
        <p >
          {{"activites text"|translate}}           </p></div>
          <div id="p2" [ngClass]="{'p2': isCardVisible}">

          <h1 class="notrb">
            {{"about2"|translate}}</h1>
          <br>
          <p >
            {{"activites text"|translate}}       </p></div>

      </div>
    </div>
    <iframe class="video"src="https://www.youtube.com/embed/4CPINu68lL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <figure class="ball3">
  </figure  >



  </div>
  <script>





  </script>

