
.titles{
  text-align: center;
  margin-top: 2%;
  color: rgb(63, 63, 63) ;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: 750;
}
/* From uiverse.io by @Codewithvinay */

.box3{
width: 50%;
transition: 3s;


}

   .box3 .content {
    padding: 20px 40px;
    border-radius: 8px;
    z-index: 1;
    color: whitesmoke;
    justify-content: center;
    align-items: center;

   }

   .box3 .content h1 {
    color: rgb(204, 118, 68);
    text-shadow: 1px 1px 1px black;
    text-align: center;


   }
   .box3 .content .notrb{
    color: rgb(57, 107, 173) ;
   }
   .box3 .content p{
    font-size: 2.6vh;
    color:  rgb(23, 31, 41);
    text-align: justify;

   }
   .p1{
    animation: move-left 1.5s ease-in ;
   }
   .p2{
    animation: move-right 1.5s ease-in ;
   }


  .video{
    height: 70vh;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.2) 7px 7px 5px;
    border-radius: 4%;
    z-index: 700;
  }


.boxes{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3%;
  z-index: 777;
}

.ball3{
  position: absolute;
  right:0;
  left: -8%;
  top: 75%;
  bottom:0;
  z-index: 0;
  background: rgb(226, 116, 52);
  border-radius: 100%;
  height: 45vh;
  width: 45vh;
  margin: 0;
  z-index: 0;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}
@keyframes move-left {
  From{
    transform:translatex(100vh) ;
    opacity: 0.1;
  }
  to {
    transform: translatex(0vh);
    opacity: 1;
  }
}
@keyframes move-right {
  From{
    transform:translatex(-100vh) ;
    opacity: 0.1;
  }
  to {
    transform: translatex(0vh);
    opacity: 1;
  }
}
@media(max-width:1250px){
.boxes{
  display: flex;
  flex-direction: column-reverse;
  padding: 7%;
}
.video{
  height: 75vh;
  width: 100%;
}
.content{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  height: auto;
}
.content div{
  padding-left: 5%;
  transform: scale(0.9);
}
.box3{
  width: 100%;
}
}

@media(max-width:1100px){
  .content div{
    padding-left: 2%;
    transform: scale(0.85);
    width: 100%;
  }
  .box3 .content h1 {
    font-size: 4vh;
  }
  .content {
    padding: 0;
  }
}
@media(max-width:1000px){
  .content div{

    transform: scale(0.8);

  }
}
@media(max-width:900px){
  .content{

  flex-direction: column;

  }
  .content div{

    transform: scale(1);

  }
  .video{
    height: 40vh;
    width: 100%;
  }
}
@media(max-width:800px){
  .ball3{
    display: none;
  }
}
