<div class="card">
    <iframe class="video"src="https://www.youtube.com/embed/4CPINu68lL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
<div class="boxes">
    <div class="box2">
        <div class="content">
            <h1 >
              QUI SOMMES NOUS :</h1>
            <br>
            <p >
              Une formation basée sur une série d’activités intellectuelles et d’animations dédiées pour les enfants visant le développement de leurs compétences et capacités intellectuelles telles que l’assimilation sensorielle ( toucher, écoute, vision ), la concentration, la mémorisation, le reflex, l’aptitude à l’expression…            </p>

        </div>
      </div>
      <div class="box2">
        <div class="content">
            <h1 >
              NOTRE BUT :</h1>
            <br>
            <p >
              Une formation basée sur une série d’activités intellectuelles et d’animations dédiées pour les enfants visant le développement de leurs compétences et capacités intellectuelles telles que l’assimilation sensorielle ( toucher, écoute, vision ), la concentration, la mémorisation, le reflex, l’aptitude à l’expression…            </p>

        </div>
      </div>
    </div>
  </div>
  
